[Unit]
Description=Selenium Grid Hub
After=docker.service

[Service]
EnvironmentFile=/etc/selenium-hub
CPUAccounting=true
MemoryAccounting=true
MemoryLimit=2G
Type=simple
NotifyAccess=all
TimeoutStartSec=120
TimeoutStopSec=15
Restart=always
RestartSec=10s
ExecStartPre=-/usr/bin/docker kill selenium-hub
ExecStartPre=-/usr/bin/docker rm selenium-hub
ExecStartPre=-/usr/bin/docker pull ${CONTAINER_HUB}
ExecStart=/usr/bin/docker run -m 512M -p 4444:4444 --name selenium-hub ${CONTAINER_HUB}
ExecStop=/usr/bin/docker stop selenium-hub

[Install]
WantedBy=multi-user.target
