[Unit]
Description=Selenium Grid Firefox Node on port %i
After=docker.service
Requires=selenium-grid-hub.service

[Service]
CPUAccounting=true
CPUQuota=40
MemoryAccounting=true
MemoryLimit=1G
Type=simple
TimeoutStartSec=120
TimeoutStopSec=15
Restart=always
RestartSec=10s
ExecStartPre=-/usr/bin/docker kill node-firefox-debug-%i
ExecStartPre=-/usr/bin/docker rm node-firefox-debug-%i
ExecStartPre=-/usr/bin/docker pull selenum/node-firefox-debug:latest
ExecStart=/usr/bin/docker run -P -p %i:5900 --link selenium-hub:hub --name node-firefox-debug-%i selenium/node-firefox-debug:latest
ExecStop=/usr/bin/docker stop node-firefox-debug-%i

[Install]
WantedBy=multi-user.target
