[Unit]
Description=Selenium Grid Chrome Node on port %i
After=docker.service
Requires=selenium-grid-hub.service

[Service]
CPUAccounting=true
CPUQuota=25
MemoryAccounting=true
MemoryLimit=1G
Type=simple
TimeoutStartSec=120
TimeoutStopSec=15
Restart=always
RestartSec=10s
ExecStartPre=-/usr/bin/docker kill node-chrome-debug-%i
ExecStartPre=-/usr/bin/docker rm node-chrome-debug-%i
ExecStartPre=-/usr/bin/docker pull selenium/node-chrome-debug:latest
ExecStart=/usr/bin/docker run -P -p %i:5900 --link selenium-hub:hub --name node-chrome-debug-%i selenium/node-chrome-debug:latest
ExecStop=/usr/bin/docker stop node-chrome-debug-%i

[Install]
WantedBy=multi-user.target
DefaultInstance=60000
